<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <div class="uk-section">
            <div class="uk-container-small uk-align-center uk-padding-small">
                <hr>
                <h2 th:text="#{javamon_products_title}"></h2>
                <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
                    <div>
                        <p>Comming soon.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-container-small uk-align-center uk-padding-small uk-padding-remove-bottom">
            <h6 class="uk-text-middle">© 2019 Javamon.com</h6>
        </div>
    </footer>
</html>